@import './abstracts/vars';
@import './abstracts/mixin';

@font-face {
    font-family: "RobotoMedium";
    src: url("./../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoRegular";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandMedium";
    src: url("./../fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandBold";
    src: url("./../fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandRegular";
    src: url("./../fonts/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("./../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

body,
html {
    min-width: 320px;
}

@import './components/title';
@import './components/button';




@import './layout/features';
@import './layout/statistics';
@import './layout/help';
@import './layout/plan';
@import './layout/sign';
@import './layout/partners';
@import './layout/app';