// Colors
$accentColor: #F5F8FF;
$primaryColor: #fff;
$textColor: #8D96BD;
$textTitle: #3D4F9F;
$linkColor: #697CA6;

// Breakpoints
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 1280px,
    xl: 1440px
);
