.title-box {
    color: $textTitle;
    
    &__title {
        font-family: 'RobotoMedium', sans-serif;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    //заголовок
    &__tagline {
        font-family: 'QuicksandMedium', sans-serif;
        font-size: 24px;
    }
}
