.app {
    padding: 50px 0;
    background-color: #F5F8FF;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    @include media(md) {
        background-image: url(./../images/app/illustration.png);
        background-size: 842px;
        background-repeat: no-repeat;
        background-position: 90% 280%;
    }


    @include media(lg) {
        padding: 208px 0 216px;
        
    }

    &__title {
        font-family: 'RobotoRegular', sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: #3D4F9F;
        margin-bottom: 27px;
    }

    &__tagline {
        font-family: 'QuicksandMedium', sans-serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;
        color: #3D4F9F;
        margin-bottom: 27px;

        &>span {
            font-family: 'QuicksandRegular', sans-serif;
            font-weight: 400;
        }
    }

    &__text {
        font-family: 'RobotoRegular', sans-serif;
        font-size: 15px;
        line-height: 29px;
        color: #8D96BD;
        letter-spacing: 1.5px;
        margin-bottom: 47px;
    }

    &__btn {
        &-left {
            color: #fff;
            background-color: #4C85FF;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            z-index: 1;
            padding-left: 25px;
            padding-right: 25px;
            box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
        }

        &-right {
            color: #ADB4D2;
            border: 1px solid #D1D1E4;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
            padding-left: 21px;
            padding-right: 21px;
        }
    }
}