.features {
    .container {
        background: #fff;
        padding: 171px 0;
        background: url(./../images/features/clouds.svg), url(./../images/features/cloud.svg);
        background-repeat: no-repeat;
        background-position: 5% 5%, 96% 5% ;
    }

    &__title-box {
        margin-bottom: 92px;
    }
    &__content {
        gap: 30px;
    }
    &__card {
        
        &:nth-child(1),
        &:nth-child(3) {
            &::after {
                @include media(sm) {
                    content: "";
                    background-image: url(./../images/features/line.svg);
                    background-size: 28px 1px;
                    width: 28px;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    right: -18px;
                }
            }
        }

        &:nth-child(2) {
            &::after {
                @include media(md) {
                    content: "";
                    background-image: url(./../images/features/line.svg);
                    background-size: 28px 1px;
                    width: 28px;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    right: -18px;
                }
            }
        }

        &-title {
            font-family: 'OpenSansBold', sans-serif;
            font-size: 14px;
            line-height: 130%;
            color: #4074F8;
            font-weight: 700;
            margin: 33px 0 25px;
        }

        &__img-wrap {
            background-color: #F1F5FF;
            width: 69px;
            height: 69px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    &__text {
        font-family: 'OpenSansSemiBold', sans-serif;
        font-size: 11px;
        line-height: 130%;
        color: #DFE2EF;
        height: 102px;
        margin: 0 auto;
        max-width: 140px;
    }
    &__pseudo {
        margin: 0 48px;
        position: relative;
        font-family: 'OpenSansSemiBold', sans-serif;
        font-size: 11px;
        line-height: 130%;
        color: #ADB3CB;

        &::before {
            content: "";
            background-image: url(./../images/features/line.svg);
            background-size: 15px 1px;
            width: 15px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: -33px;
        }

        &::after {
            content: "";
            background-image: url(./../images/features/line.svg);
            background-size: 15px 1px;
            width: 15px;
            height: 1px;
            position: absolute;
            top: 50%;
            right: -33px;
        }
    }

    &__buttons {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    
        @include media(sm) {
            flex-direction: row;
            justify-content: center;
            margin-top: 92px;
        } 
    }

    .img-shape {
        background-color: #F1F5FF;
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

