.help {
    padding: 175px 0;

    .container {
        border: 1px solid red;
    }
    &__title-box {
        margin-bottom: 68px;
    }

    &__card {
        border: none !important;
        border-bottom: 1px solid #D8E3FE !important;

        &-header {
            background-color: transparent;
            padding: 17px 17px 15px;
            border: none !important;
        }

        &-title {
            height: 45px;
            display: flex;
            align-items: center;
            font-family: "QuicksandBold", sans-serif;
            color: #495274;
            font-size: 15px;
            letter-spacing: .5px;
        }

        &-btn {
            height: 12px;
            width: 20px;
            background-image: url(./../images/help/arrow-open.svg);
            background-repeat: no-repeat;
            margin-right: 24px;

            &.collapsed {
                background-image: url(./../images/help/arrow.svg);
                background-repeat: no-repeat;
            }
        }

        &-btn.collapsed + &-title-text {
            color: #8E96B7;
            font-family: "QuicksandMedium", sans-serif;
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 16px 10px 50px 72px;
        
            @include media(sm){
                flex-direction: row;
            }

            &-btn {
                height: 42px;
                min-width: 195px;
                background-color: #E8ECF4;
                font-family: "QuicksandMedium", sans-serif;
                font-size: 13px;
                color: #7382A3;
                border: none;
                margin-top: 5px;
                border-radius: 2px;

                &:focus {
                    outline: 1px solid transparent;
                }
            }
        }

        &-text {
            font-family: "RobotoRegular", sans-serif;
            font-size: 14px;
            letter-spacing: 0.5px;
            color: #8D96BD;
            line-height: 1.9;
            margin-right: 60px;
        }
    }
}

.btn.focus, .btn:focus {
    box-shadow: none;
}


