.sign {
    padding: 120px 0;

    &__description {
        margin-bottom: 20px;

        @include media(md) {
            margin-bottom: 0;
        }
    }

    &__title {
        font-family: 'QuicksandBold', sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #3D4F9F;
        margin-bottom: 18px;
    }

    &__text {
        font-family: 'RobotoRegular', sans-serif;
        font-size: 14px;
        line-height: 27px;
        color: #DFE2EF;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__form {
        gap: 15px;
    }

    &__email {
        height: 59px;
        width: 279px;
        border: none;
        background-color: #EFEFF7;
        color: #7A85AD;
        border-radius: 5px;
        font-family: 'OpenSansBold', sans-serif;
        font-size: 13px;
        line-height: 100%;
        padding: 0 23px;
    }

    &__btn {
        height: 59px;
        width: 184px;
        background-color: #4D6CE1;
        border-radius: 5px;
        color: white;
        //width: 184px;
    }
}